*.class
*.jar
*.war
*.ear
*.nar
*.log
*.tmp
*.bak
*.swp
*~.nib

build/
bin/
out/
dist/
run/
.gradle/
.gradletasknamecache
gradle-app.setting
buildSrc/.kotlin

.idea/
.idea_modules/
*.iml
*.ipr
*.iws

.settings/
.metadata
.classpath
.project
.loadpath
.factorypath

nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

.vscode/
.code-workspace
.DS_Store
.mtj.tmp/
local.properties

!gradle/wrapper/gradle-wrapper.jar
.ignored/
/workspace.gradle.kts
.license-server-id
.claude/
